<div id="loader">
    <h1 style="font-size:70px">MAX OUT</h1>
    <h2>Welcome to worlds best facebook event mapper!</h2>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>



<h1>MAX OUT</h1>
<main class="main">
{{> mainmap}}
{{>time-buttons}}
{{> custom-date-tile}}
</main>
