<div>

    <div id="loader">
        <h1 id="title">GATECRASHER</h1>
        <h2>Welcome to the world's best facebook event mapper!</h2>
        <div>
            <div id="instructions" class="instructions no-display">
                <img src="info.svg" id="info-button" class="info-button">
                <h2 class="instructions-heading">Instructions</h2>
                <p class="instructions-text">To gatecrash with the best of them, simply <strong>search</strong>
                    for a neighbourhood, <strong>explore</strong> the map,
                    and when you're ready, <strong>click</strong> a date
                    to find the events you want to go to from today til then.
                </p>
                <div id="ready" class="ready">
                </div>
            </div>

        </div>

        <div id="big-spinner" class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>


</div>



<main id="main" class="main">

{{> mainmap}}
{{>time-buttons}}
{{> custom-date-tile}}
</main>
