<h1>HELLO WORLD</h1>

<a href="/new-idea"><button type="button" name="btn_haveidea" class="landing_btn landing_btn--idea">Have an idea?</button></a>
<a href="/browse"><button type="button" name="btn_gotskills" class="landing_btn landing_btn--skills">Got the skillz?</button></a>
