<h2>I am looking for events...</h2>
<form id="map-form">
  <!-- Latitude: <input type="text" name="lat" id="lat"> -->
  <!-- Longitude: <input type="text" name="lng" id="lng"> -->
  that are around  <input type="text" name="distance" id="distance"> metres <br>
  from this location <input type="text" name="address" id="address"><br>
   happening from between now and... <input type="date" name="date" id="until">

<input type="submit" value="SUBMIT">
</form>

{{> mainmap}}
