<h1>GATECRASHER</h1>
<div id="loader">
    <h2>Welcome to the world's best facebook event mapper!</h2>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>




<main id="main" class="main">

{{> mainmap}}
{{>time-buttons}}
{{> custom-date-tile}}
</main>
