<h1>MAM Events</h1>
<form id="map-form">
    Latitude: <input type="text" name="lat" id="lat">
    Longitude: <input type="text" name="lng" id="lng">
    Distance: <input type="text" name="distance" id="distance">
    <input type="submit" value="SUBMIT">
</form>

{{> mainmap}}
