<h1>Twitter Mapp</h1>

  <iframe
  width="1000"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key={{apiKey}}&q=London+Bridge,London+UK" allowfullscreen>
</iframe>

<p>{{trendObj}}</p>
