<h1>Twitter Mapp: NEW EVENT</h1>

<form id="map-form">
  Latitude: <input type="text" name="lat" id="lat" value="51.547623">
  Longitude: <input type="text" name="lng" id="lng" value="-0.070113">
  Distance: <input type="text" name="distance" id="distance" value="100">
<input type="submit" value="SUBMIT">
</form>

{{> mainmap}}

<div>
<h2>GEOCODES:</h2> {{#each eventGeocodes}}
 latitude: <span class="lat">{{this.lat}}</span>, longitude: <span class="lng">{{this.lng}}</span>
 <br><br>
 {{/each}}
</div>
