<h1>Twitter Mapp: NEW EVENT</h1>

<form action="/events" method="GET">
  Latitude: <input type="text" name="lat" value="51.547623">
  Longitude: <input type="text" name="lng" value="-0.070113">
  Distance: <input type="text" name="distance" value="100">
<input type="submit" value="SUBMIT">
</form>

  <iframe
  width="1000"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key={{apiKey}}&q=London+Bridge,London+UK" allowfullscreen>
</iframe>

<div>
<h2>GEOCODES:</h2> {{#each eventArray}}
 latitude: <span class="lat">{{this.lat}}</span>, longitude: <span class="lng">{{this.lng}}</span>
 <br><br>
 {{/each}}
</div>
