<div class="flip-container" id="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <button id="custom-date" class="time-buttons yellow front">
        Pick your dates!
		</button>
    <div class="time-buttons yellow back">
			<input type="date" id="date"></input>
		</button>
  </div>
</div>
</section>
