<footer class="footer text">

	Brought to you by <a href="https://github.com/maxgerber">Max, </a><a href="https://github.com/rebecacalvoquintero">Rebeca, </a><a href="https://github.com/AbdullahChaudhry">Abdullah and </a><a href="https://github.com/Jen-Harris">Jen </a>
  <br>
  &copy;2017


</footer>
<script src="/main.js"></script>
