<h2>I am looking for events...</h2>
<form id="map-form">
  that are around  <input type="text" name="distance" id="distance"> metres <br>
  from this location <input type="text" name="address" id="address"><br>
   happening from between now and... <input type="date" name="date" id="until"><br>

   OR input latitude <input type="text" name="lat" id="lat"><br>
   and longitude <input type="text" name="lng" id="lng">
<input type="submit" value="SUBMIT">
</form>
