<section id="buttons" class="'buttons">
    <button id="today" class="time-buttons green">Today</button>
    <button id="tomorrow" class="time-buttons pink">Tomorrow</button>
    <button id="this-week" class="time-buttons orange">This Week</button>
    <button id="custom-date" class="time-buttons yellow">Pick your dates!</button>
</section>
